<div class="container">

  <div class="container menu">
    <button class="btn" routerLink="/pending">Mine Pending Transactions</button>
  </div>

  <h1>Blocks on chain</h1>
  <p>Each card represents blocks on the chain.</p>

  <app-block-view
    *ngFor ="let block of blocks"
    [block]="block"
    (click)="showTransactions(block)"
  ></app-block-view>
</div>

<br><br>

<div class="container">
  <h1>Transactions in block</h1>
  <app-transactions-table
  [transactions]="selectedBlock.transactions"
  ></app-transactions-table>
</div>
