/* You can add global styles to this file, and also import other style files */

.bg-yellow {
  background-color: #edad2f;
}
.banner {
  max-width: 30vw;
  padding-top: 20px;
}

.btn {
  background-color: #edad2f;
  color: white;
}

.menu {
  margin-top: 20px;
  text-align: center;
}
